<div class="w-full h-screen flex justify-center items-center">
    <div class="flex flex-row">
        <p class="text-2xl">🤔</p>
        <div class="flex flex-col ml-2 w-96">
            <h1 class="text-2xl font-semibold font-mono text-pink-600">Упс... что-то тут не так</h1>
            <p class="text-xl font-normal font-mono my-2">В приложении возникла ошибка: </p>
            <hr>
            <p class="text-md font-normal font-mono text-green-500 mt-2 bg-[#191919] rounded-xl py-2 px-4 break-words shadow-md">{{ error_message }}</p>
        </div>
    </div>
</div>